*{
    margin:0;
    padding: 0;
    border:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    background-color: #191A19;
    background-color: #17161A;
    display: grid;
    place-items: center;
    min-height: 100vh;
}
main > div{
    height: 700px;
}
.center{
    text-align: center;
}
.vel-container{
    width: 300px;
    margin:0 auto;
}
main button{
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 1px;
    padding: 1em 1.5em;
    color:#FFFBFE;
    --hover-saturation:0%;
    --hover-lightness:0%;
}
button b{
    letter-spacing: 3px;
}
main button{
    background-color: hsl(var(--hue), calc(var(--saturation) + var(--hover-saturation)),calc( var(--lightness) + var(--hover-lightness)) );
    cursor:pointer;
    margin-top:12px;
}
main button.start{
    font-size: 18px;
    --hover:0%;
 
    /* --hue:110;
    --saturation:55%;
    --lightness: 33%; */
    

    --hue:132;
    --saturation:95%;
    --lightness: 22%; 
    /* color:hsl(110, 45%, 43%); */
 
   
}
main button.start.stop{
    --hue:349;
    --saturation:89%;
    --lightness:52%;
}
main button.change{
    font-size: 70px;
    --hover:0%;
    --hue:233;
    --saturation:13%;
    --lightness:13%;
}
main button#add{
    border-radius: 0 50% 50% 0;
}
main button#sub{
    border-radius:50px 0 0 50%;
}
main button.change:hover{
    --hover-lightness:-10%;
}
main button.start:hover{
    --hover-saturation:24%;
}
/* main #velocimetro{
    background-color: black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;;
} */
.iconos{
    display: none;
}

.progress-bar{
    
    width: 320px;
    background-color: lightgray;   
   height: 0;
}
.progress-bar.visible{
    margin-top:12px;
    margin-bottom: 12px;
height: auto;
}
.progress-bar > div{
    padding: .5em;
    width: 40px;
    text-align: center;
    background-color: #1E5128;
    color:white;
    font-weight: bold;
}
.progress-bar.visible > div{
    width: 100%;
    transition: width 2.1s linear;
}
.progress-bar:not(.visible){
    opacity: 0;
}

#single-core{
    margin-top:4px;
    margin-bottom: 4px;
}
.scores{
    display: none;
    color:white;
}
.scores > div{
    text-align: center;
}
.scores > div > div{
    display: inline-block;
    vertical-align: middle;
}
.scores > div > div:first-child{
    margin-right: 10px;
}
.scores h4{
    text-align: center;
}
p{
    font-weight: bold;
    text-align: center;
    color:white;
}
p span{
    display: inline-block;
}
p.detected{
    color:#D8E9A8;
   
}
.loading {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  .icon{
      width: 24px;
      display: inline-block;
      cursor: pointer;
      fill:#ffffffa0;
      margin: 16px;
  }
  .icon:hover{
    color:white;
    fill:white;
  }

  form{
      
      text-align: center;
      display: none;
  }
  form > div{
    display: inline-block;
  }
  form label{
      color:#FFFBFE;
      font-weight: bold;
  }
  form input{
      padding: .5em 1em;
      margin-top: .5em;
      background-color: #D0CFCF;
      font-weight: bold;
  }
  form button{
      padding:.5em;
      background-color: #4281A4;
      border:1px solid hsl(201, 100%, 30%);
      color:#FFFBFE;
      font-size:14px;
      font-weight: bold;
  }
  form button:hover{
    background-color: hsl(201, 43%, 55%);
  }