*{
    margin:0;
    padding: 0;
    border:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    background-color: #191A19;
    display: grid;
    place-items: center;
    min-height: 100vh;
}
.center{
    text-align: center;
}
.vel-container{
    width: 300px;
    margin:0 auto;
}
main button{
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 1px;
    padding: 1em 1.5em;
    color:white;
    --hover-saturation:0%;
    --hover-lightness:0%;
}
button b{
    letter-spacing: 3px;
}
main button{
    background-color: hsl(var(--hue), calc(var(--saturation) + var(--hover-saturation)),calc( var(--lightness) + var(--hover-lightness)) );
    cursor:pointer;
}
main button.start{
    font-size: 18px;
    --hover:0%;
 
    --hue:110;
    --saturation:45%;
    --lightness: 43%;
    /* color:hsl(110, 45%, 43%); */
 
   
}
main button.start.stop{
    --hue:349;
    --saturation:89%;
    --lightness:52%;
}
main button.change{
    font-size: 70px;
    --hover:0%;
    --hue:233;
    --saturation:13%;
    --lightness:13%;
}
main button#add{
    border-radius: 0 50% 50% 0;
}
main button#sub{
    border-radius:50px 0 0 50%;
}
main button.change:hover{
    --hover-lightness:-10%;
}
main button.start:hover{
    --hover-saturation:24%;
}
/* main #velocimetro{
    background-color: black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;;
} */
.scores{
    color:white;
}
#single-score{
    text-align: center;
}
#single-score > *{
    display: inline-block;
    vertical-align: middle;
}
.progress-bar{
    
    width: 340px;
    background-color: lightgray;   
   
}
.progress-bar.visible{
    margin-top:65px;
    margin-bottom: 10px;
}
.progress-bar > div{
    padding: .5em;
    width: 40px;
    text-align: center;
    background-color: #1E5128;
    color:white;
    font-weight: bold;
}
.progress-bar.visible > div{
    width: 100%;
    transition: width 10.1s linear;
}
.progress-bar:not(.visible){
    opacity: 0;
}
.scores{
    display: none;
}
.scores > div{
    text-align: center;
}
.scores > div > div{
    display: inline-block;
    vertical-align: middle;
}
.scores > div > div:first-child{
    margin-right: 10px;
}
p{
    font-weight: bold;
    text-align: center;
    color:white;
}
p span{
    display: inline-block;
}
p.detected{
    color:#D8E9A8;
   
}
.loading {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  .icon{
      width: 32px;
      display: inline-block;
      cursor: pointer;
      fill:#ffffffa0;
  }
  .icon:hover{
    color:white;
    fill:white;
  }